In [1]:
# Import dependencies
import pandas as pd 

from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests

### NASA Mars News

* Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [2]:
# Set variable to hold URL
nasa_url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

# Retrieve page with the requests module
response = requests.get(nasa_url)

# Create BeautifulSoup object; parse with 'html'
soup = bs(response.text, 'html')

In [3]:
# Retrieve the parent div for the grid containing the article titles
results = soup.find_all('div', class_='grid_layout')[1]

In [4]:
# Scrape data to get title
div = results.find("div", class_="content_title")
a = div.a

# Set variable to hold title
title = div.a.text
print(f"title: {title}")

# Scrape data to get paragraph teaser
divp = results.find("div", class_="rollover_description_inner")

# Set variable to hold title
paragraph = divp.text
print(f"paragraph: {paragraph}")

title:
Mars Helicopter Attached to NASA's Perseverance Rover

paragraph:
The team also fueled the rover's sky crane to get ready for this summer's history-making launch.

### JPL Mars Space Images - Featured Image

* Visit the url for JPL Featured Space Image.
* Use Splinter to navigate the site and find the image url for the current Featured Mars Image.
* Assign the url string to a variable called featured_image_url. Make sure to find the image url to the full size .jpg image.
* Make sure to save a complete url string for this image.

Mac Users: Execute the following cell

In [5]:
# # https://splinter.readthedocs.io/en/latest/drivers/chrome.html
# !which chromedriver
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
# browser = Browser('chrome', **executable_path, headless=False)

Windows Users: Execute the following cell

In [6]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [7]:
# Set variable to hold URL
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

# visit URL
browser.visit(jpl_url)

In [8]:
# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')

# Retrieve the element containing the main image
results = soup.find_all("div", class_="carousel_items")[0]

In [9]:
# Use Beautiful Soup's find() method to retrieve attribute of image URL
a = results.find("a")
href = a["data-link"]

# Store image URL to a variable
featured_image_url = f"https://www.jpl.nasa.gov{href}"

print(f"featured_image_url: {featured_image_url}")

featured_image_url: https://www.jpl.nasa.gov/spaceimages/details.php?id=PIA00029

### Mars Weather
* Visit the Mars Weather twitter account here and scrape the latest Mars weather tweet from the page. Save the tweet text for the weather report as a variable called mars_weather.
* Note: Be sure you are not signed in to twitter, or scraping may become more difficult.
* Note: Twitter frequently changes how information is presented on their website. If you are having difficulty getting the correct html tag data, consider researching Regular Expression Patterns and how they can be used in combination with the .find() method.

In [11]:
# Retrieve the parent div for the paragraph containing the most recent weather Tweet
results = soup.find_all('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')[0]

# Set variable to hold title
mars_weather = results.text

print(f"mars_weather: {mars_weather}")

mars_weather: InSight sol 501 (2020-04-24) low -93.5ºC (-136.2ºF) high -4.3ºC (24.3ºF)
winds from the SW at 5.0 m/s (11.3 mph) gusting to 15.8 m/s (35.3 mph)
pressure at 6.70 hPapic.twitter.com/Xdbw8T0T0E

### Mars Facts
* Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
* Use Pandas to convert the data to a HTML table string.

In [13]:
# Store URL
facts_url = "https://space-facts.com/mars/"

#Read table
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [14]:
type(tables)

list

In [22]:
# Create dataframe by selecting row from table
mars_df = tables[0]

# Rename Columns
mars_df = mars_df.rename(columns={
                        0: "Category",
                        1: "Fact"
})
mars_df

               Category                           Fact
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [25]:
# Convert table to HTML string
mars_df.to_html(buf="mars_df.html", index=False)

### Mars Hemispheres
* Visit the USGS Astrogeology site here to obtain high resolution images for each of Mar's hemispheres.
* You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.
* Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.
* Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.